%h1 Convert any Integer from -10**(#{Integer::MAX_EXPONENT+3})-1 to 10**(#{Integer::MAX_EXPONENT+3})-1 (vigintillions) to its english phrase

= form_tag '/to_english' do
  = label_tag 'number', "Number: "
  = number_field_tag 'number', params[:number], in: -10**(Integer::MAX_EXPONENT+3)+1...10**(Integer::MAX_EXPONENT+3), style: "width: 600px;"
  = submit_tag "Convert"

- if defined? @result
  %h3 Result:
  #result= @result